*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
   font-family: 'Open Sans', sans-serif;
}

.contenedor{
    width: 100%;
    max-width: 1170px;
    margin: auto;
}

/* Encabezado */
header{
    width: 100%;
    height: 200px;
    background-color: #fcfff5;
}

.logo{
    padding: 25px 0;
}

.logo img:hover{
    transform: scale(1.1,1.1);
    transition: all 1s ease;
}


.logo img{
    width: 100px;
    display: block;
    margin: auto;
}

.menu{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 430px;
    margin: auto;
}

.menu a{
    text-decoration: none;
    color: #7a7a7a;
    font-size: 15px;
}

.menu a:hover{
    color: #a4281f;
    transform: scale(1.1,1.1);
    transition: all 1s ease;
    border-bottom: 1px solid  #a4281f;
}    
/* Fin de Encabezado */

/* Banner Principal */
.banner{
    width: 100%;
    height: 500px;
    background-image: url(../img/banner-inicio.jpg);
    background-position: center;
    background-size: cover;
}

.banner > div{
    width: 100%;
    height: 100%;
    background-color: rgba(209, 219, 189, 0.35);
}

.llamada-accion{
    text-align: center;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.llamada-accion p{
    font-size: 18px;
    color: white;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.llamada-accion h2{
    font-size: 42px;
    color: white;
    background-color: rgba(255, 255, 255, 0.4) ;
    padding: 40px 0;
    width: 100%;
    max-width: 460px;
}

.llamada-accion a{
    font-size: 18px;
    text-decoration: none;
    color: white;
    padding: 10px 50px;
    background-color: rgba(0, 0, 0, 0.45);
    margin-top: 30px;
    transition: all 1s ease;
}

.llamada-accion a:hover{
    background-color: rgba(0, 0, 0, 0.8);
}

/* Fin de Banner Principal */

/* Seccion de Bienvenida */
.bienvenida{
    width: 100%;
    background-color: #3e606f;
    color: white;
    text-align: center;
    margin-top: 2px;
}

.bienvenida h3{
    font-size: 16px;
    padding: 35px;
}

.bienvenida p{
    padding-bottom: 35px;
    font-size: 16px;
    line-height: 1.7em;
    max-width: 360px;
    margin: 0 auto;
}
/* Fin Seccion de Bienvenida */

/* Seccion de Nosotros */
.nosotros{
    padding-bottom: 80px;
}

.nosotros > .contenedor{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;  
}

.foto-equipo{
    width: 100%;
    max-width: 570px;
}

.foto-equipo img{
    width: 100%;
}

.conocenos{
    text-align: center;
    padding: 15px 0;
    max-width: 570px;
    margin: auto;
}

.conocenos p:nth-child(1){
    font-size: 14px;
    color:#3c1c22;
    padding-bottom: 20px;
    border-bottom: 1px solid #a2a2a2;
}

.conocenos h3{
    font-size: 18px;
    padding-bottom: 30px;
    padding-top: 20px;
    color: #0e96dd;
}

.conocenos p:nth-child(3){
    font-size: 14px;
    padding-bottom: 25px;
    color: #3c1c22;
}

.conocenos p:nth-child(4){
    font-size: 14px;
    color: #646464;
    padding-bottom: 20px;    
}

.conocenos a{
    font-size: 15px;
    color: #0e96dd;
}

@media all and (min-width:769px){
    .nosotros{
        padding-top: 80px;
    }
    .foto-equipo{
        margin-right: 30px;
    }
    .conocenos{
        padding-left: 30px;
        text-align: left;
    }
}
/* Fin Seccion de Nosotros */

/* Footer */

.top-footer , .bottom-footer{
    background-color: #193441;
    height: 25px;
}


.center-footer{
    background-color: #152d37;
}

.center-footer .contenedor{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.center-footer .widget{
    text-align: center;
    padding: 28px;
    color: #7a7a7a;
    max-width: 270px;
    margin: 0 auto;
}

.contenedor h4{
    padding-bottom: 35px;
    font-size: 18px;
    text-transform: uppercase;
}

.contenedor p{
    font-size: 14px;    
}

.bottom-footer p{
    font-size: 12px;
    color: #7a7a7a;
    text-align: center;
}
/* Fin de Footer */